<div class="row">
	<div class="col-xs-12">
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">Ejemplo</h3>
			</div>
			<div class="box-body table-responsive no-padding">
				<div class='col-md-12'>
					<p>Asegúrese que el archivo a subir tenga los campos del siguiente ejemplo, en el formato que se muestra.</p>
				</div>

				<div class='col-md-12'>
					<table class="table table-hover">
						<tr style='background-color:#eee'>
							<th>Código de material</th>
							<th>ID punto de venta</th>
							<th>Precio</th>
							<th>Nombre cliente</th>
							<th>Teléfono cliente</th>
							<th>Código de motor</th>
							<th>Fecha de venta</th>
							<th>Número factura</th>
						</tr>
						<tr>
							<td>YBBIT15016NG</td>
							<td>G202</td>
							<td>7000</td>
							<td>Juan P&eacute;rez</td>
							<td>12345678</td>
							<td>
								15QMJJG0531291
							</td>
							<td>2016-12-13</td>
							<td>1</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>