{% extends '@App/Frontend/base_blank.html.twig' %}

{% block body %}

<h3>Formulario de Cont&aacute;cto</h3>
<p>
	Nombre Completo:
	{{ data.name }}	
</p>
<p>
	Correo Electr&oacute;nico:
	{{ data.email }}
</p>
<p>
	Mensaje:<br/>
	{{ data.message }}
</p>
{% endblock %}


