<div class="row">
	<div class="col-lg-4 col-xs-12">
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3>150</h3>
				<p>Puntos Acumulados</p>
			</div>
			<div class="icon">
				<i class="ion ion-plus"></i>
			</div>
			<a class="small-box-footer" href="#">
				More info
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
	<div class="col-lg-4 col-xs-12">
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3>150</h3>
				<p>Puntos Canjeados</p>
			</div>
			<div class="icon">
				<i class="ion ion-minus"></i>
			</div>
			<a class="small-box-footer" href="#">
				More info
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
	<div class="col-lg-4 col-xs-12">
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3>150</h3>
				<p>Puntos Disponibles</p>
			</div>
			<div class="icon">
				<i class="ion ion-star"></i>
			</div>
			<a class="small-box-footer" href="#">
				More info
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
</div>
	