{% if app.session.get('userData').profileImage is defined %}
	{% set img = asset('uploads/clients/profile_image/'~app.session.get('userData').profileImage) %}
{% else %}
	{% set img = asset('images/lala_logo_square.png') %}
{% endif %}
<div class="dropdown drp-user">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="icon feather icon-settings"></i>
	</a>
	<div class="dropdown-menu dropdown-menu-right profile-notification">
		<div class="pro-head">
			<img src="{{ img }}" class="img-radius" alt="User-Profile-Image">
			<span>{{ app.session.get('userData').fullName }}</span>
		</div>
		<ul class="pro-body">
			<li>
				<a href="{{ path('backend_logout') }}" class="dropdown-item"><i class="feather icon-log-out"></i> Salir del Sistema</a>
			</li>
		</ul>
	</div>
</div>