{% extends '@App/Backend/base_login.html.twig' %}

{% block body %}
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="auth-bg">
			<span class="r" style="background: linear-gradient(-135deg,#46b5ff 0%,#0067AC 100%) !important"></span>
			<span class="r s" style="background: linear-gradient(-135deg,#fca89f 0%,#DD5040 100%) !important"></span>
			<span class="r s" style="background: linear-gradient(-135deg,#46b5ff 0%,#0067AC 100%) !important"></span>
			<span class="r" style="background: linear-gradient(-135deg,#fca89f 0%,#DD5040 100%) !important"></span>
		</div>
		
		<div class="card" style="opacity:0.9; border-radius:50px">
			<div class="card-body text-center">
				<div class="">
					<img class="logo-login" src="{{ asset('images/lala_logo.png') }}">
				</div>

				<h3 class="mb-4">Recuperar Contraseña</h3>

				<form id="recoverPassword">
					<div class="input-group mb-3">
						<input type="email" class="form-control required email" placeholder="Email" name="email">
					</div>
					<button id="btnEnviar" type="button" class="btn btn-primary shadow-2 mb-4">Recuperar Contraseña</button>
					<p class="mb-2 text-muted">
						<a href="{{ path('backend_login_user') }}">Volver</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_scripts %}

<script>
	$(function () {

    $('#recoverPassword').validate({
    	errorPlacement: function(error, element) {}
    });

		$("#btnEnviar").click(function() {  
			var data = $('#recoverPassword').serialize();
			var formStatus = $('#recoverPassword').validate().form();

			if(true == formStatus){

				$.ajax({
					url: "{{ path('backend_get_passwd') }}",
					type: "POST",
					data: data,
					dataType: 'json',
					beforeSend: function () {
						$("#btnEnviar").prop('disabled', true);
						$("#btnEnviar").html("<span class='spinner-border spinner-border-sm' role='status'></span> Procesando, por favor espere...");
					},
					success: function (e) {

						if(e.status == "error"){
							new PNotify( {
								title: '¡Error!', text: e.msg, type: 'error'
							});
							$("#btnEnviar").prop('disabled', false);
							$("#btnEnviar").html("Recuperar Contraseña");
							$("input[name=email]").focus();
						}else{
							new PNotify( {
								title: '¡Éxito!', text: e.msg, type: 'success'
							});
							$("#btnEnviar").prop('disabled', false);
							$("#btnEnviar").html("Recuperar Contraseña");
							$("input[name=email]").val("");
						}
								
						$("#spinner").hide(); 
					}, error: function () {
						new PNotify( {
							title: '¡Error!', text: '¡Ha ocurrido un error!', type: 'error'
						});
						$("#btnEnviar").prop('disabled', false);
						$("#btnEnviar").html("Recuperar Contraseña");
						$("input[name=email]").focus();
					}
			
				});   	        	        	        	    	        
			} else {
				$("input[name=email]").focus();
			}
		});
    
	});
</script>
{% endblock %}