<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lala</title>
	<link rel="stylesheet" href="">
	<link href="{{ asset("css/frontend/style.css") }}" rel="stylesheet" type="text/css" />
</head>
<body class="landing-no-margin">
	<div class="myContainer">
		<img src="{{ asset('images/LANDING_LALA.jpg') }}" alt="" title="" id="landingImg" width="100%"/>
		<a href="{{ asset('documentos/reglamento_regresemos_a_clases_juntos.pdf') }}" target="_blank" title="" class="myBtnPdf">Descargar aquí</a>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>