{% extends '@App/Backend/base.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!--<h1>
            Dashboard <small>Version 1.0</small>
        </h1>-->                
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Listado de premios</li>
        </ol>
    </section>
	<br>
    <!-- Main content -->
    <section class="content">
    	
    	{{ include('@App/Backend/counter.html.twig', { 'counter': counter }) }}
    	
        <div class="row">
        	
        </div>	
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block extra_scripts %}


{% endblock %}