{% extends '@App/Backend/base.html.twig' %}

{% block body %}

<!-- Main content -->
<section class="content">
 
	{{ render(controller("AppBundle:Frontend/Staff:headerPoints")) }}
	
	{{ include('@App/Backend/flash_message.html.twig') }}

	<div class="row">
		<div class="col-md-6">
		    {{ include('@App/Frontend/Staff/ranking_list.html.twig', { 'list': list }) }}
		</div>
	</div>

</section>
<!-- /.content -->
{% endblock %}

{% block extra_scripts %}


{% endblock %}