<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Ejemplo</h3>
    </div>

    <div class="box-body table-responsive">
    	<div class='row'>
    		<div class='col-md-12'>
    			<p>Asegúrese que el archivo a subir tenga los campos del siguiente ejemplo, en el formato que se muestra.</p>
    		</div>
    	</div>
    	<div class='row'>
    		<div class='col-md-12'>
		        <table class="table table-bordered">
		            <tr style='background-color:#eee'>
		                <th>ID punto de venta</th>
		                <th>Nombre</th>
		                <th>NIT</th>
		                <th>DPI</th>
		                <th>Género</th>
		                <th>Cumpleaños</th>
		                <th>Teléfono secundario</th>
		                <th>Teléfono primario</th>
		                <th>Email</th>
		                <th>Departamento</th>
		                <th>Municipio</th>
		                <th>País</th>
		                <th>Dirección</th>
		                <th>Zona</th>
		                <th>Puesto</th>
		            </tr>
		            <tr>
		                <td>1600001410</td>
		                <td>Prueba staff</td>
		                <td>1234567-8</td>
		                <td>0123456789123</td>
		                <td>M</td>
		                <td>
                            2016-11-22
		                </td>
		                <td>12345678</td>
		                <td>23456789</td>
		                <td>staff@staff.com</td>
		                <td>Guatemala</td>
		                <td>Guatemala</td>
		                <td>Guatemala</td>
		                <td>Casa Staff</td>
		                <td>Casa 2 Staff</td>
		                <td>Vendedor</td>
		            </tr>
		        </table>
	        </div>
        </div>
    </div>
</div>