<div class="modal modal-info map-panel" id="map-modal" data-show='false'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Ubicaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <div style="width:570px; height:430px; ">
                    <img class="loading-gps" src="{{ asset('images/gps.gif') }}">
                    <div id="map" class="map-containter" style="width: 570px; height: 430px;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline btn-ok" id="btn-ok" data-dismiss="modal">
                    Aceptar
                </a>
            </div>
        </div>
    </div>
</div>